---
no-display-title: 1
title: "BioImage Informatics Facility Newsletters"
excerpt: ""
include_masonry: "false"
---
{% for post in site.posts %}
    {% if post.categories contains "newsletters" %}
        <div class="container">
            <div class="page-header">
            <h1>
                {{post.title}}
            </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                        {{ post.content }}
            </div>
        </div>
        {% break %}
    {% endif %}
{% endfor %}
<div class="container">
    <h2>Newsletter history</h2>
<ul>
{% for post in site.posts %}
    {% if post.categories contains "newsletters" %}
        <li>
                        <h4>
                            <a href="{{ post.url }}">
                                {{ post.date | date: "%B %Y" }}
                            </a>
                        </h4>
        </li>
    {% endif %}
{% endfor %}
</ul>
</div>