<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title | xml_escape }}</title>
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html | strip | xml_escape }}"/>
    {% else %}
    <!-- Description content not available -->
    {% endif %}
    <link rel="alternate" type="application/atom+xml" href="/news/atom.xml" title="Atom feed">
    <link rel="icon" href="/favicon.ico" />

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="/stylesheets/site-structure.css">
    <link rel="stylesheet" href="/stylesheets/landing-content.css">

    {% if page.include_simplemde %}
        <link rel="stylesheet" href="/stylesheets/simplemde.min.css">
        <script src="/javascripts/simplemde.min.js"></script>
    {% endif %}

    <!-- Template for search results -->
    <script type="text/html" id="search-result-template">
        <div class="search-result">
            <a data-href="href"><h4 data-content="title"></h4></a>
            <span data-content="breadcrumbs" class="search-result-breadcrumbs"></span>
            <span data-content="author" class="search-result-author"></span><br/>
        </div>
    </script>

    {% if page.extra-head-content %}
    {{ page.extra-head-content }}
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% if page.tipue_search_active or layout.tipue_search_active %}
        <link rel="stylesheet" href="{{ "/assets/tipuesearch/css/normalize.css" | relative_url }}">
        <script src="{{ "/assets/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
        <link rel="stylesheet" href="{{ "/assets/tipuesearch/css/tipuesearch.css" | relative_url }}">
        <script src="{{ "/assets/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
        <script src="{{ "/assets/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
    {% endif %}
</head>
