---
layout: page
---

<div class="row">
    <div class="col-lg-9">
        {% include /util/youtube-embed.html %}
        {% if page.image %}
            <img src="{{  page.image }}" alt="{{ page.title }}" class="img-responsive">
        {% endif %}
        {{ content }}
        <br/>
        {% if page.tags_ and page.tags_ != "None" %}
            <strong>Tags:</strong> {{ page.tags_ }}
        {% endif %}
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Project Information</h3>
            </div>
            <ul class="list-group">
                {% if page.project_homepage_url %}
                <li class="list-group-item">
                    <a class="btn btn-primary" href="{{ page.project_homepage_url }}">Project homepage</a>
                </li>
                {% endif %}
                <li class="list-group-item">
                    <h4>BIIF Principal Investigators</h4>
                    <ul>
                        {% for author in page.author %}
                            <li>{{ author }}</li>
                        {% endfor %}
                    </ul>
                    <h4>External Authors</h4>
                    {{ page.external }}
                </li>
                <li class="list-group-item">
                    <h4>Date</h4>
                    {{ page.initdate }} 🠚 {{ page.lastdate }}
                </li>
            </ul>
        </div>
    </div>
</div>